@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background: #f1f5f9;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  .group {
    @apply lg:text-white;
  }
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.trending-topic {
  @apply text-[64px] lg:text-[84px] leading-none font-semibold;
}

.btn-hero {
  @apply h-[75px] px-[30px] transition-all duration-300 text-white rounded-[18px] flex items-center gap-4 bg-primary hover:bg-primary-hover;
}

.hero-bmi-text-h1 {
  @apply text-[24px] lg:text-[64px] font-semibold;
}
